
<html>

<%- include('partials/head.ejs') %>


<body>
        <%= title %>
        <% const name = 'akil' %>
        <p> <%= name %></p>
        
        <%- include('partials/nav.ejs') %>

        <p> Cant find </p>

        <%- include('partials/foot.ejs') %>
</body>

</html>
